{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Id","Name", "Code", "Purchases","Sold", "Spend", "Aproximate Profit", "Options"]	} %}
		{% block table_body %}
			{% for entity in entities %}
			<tr>
			<td data-label="Id">{{ entity.id }}</td>
			<td data-label="Name">{{ entity.name }}</td>
			<td data-label="Code">{{ entity.code }}</td>			
			<td data-label="Purchases">{{ entity.purchases.count }}</td>	
			<td data-label="Sold">{{ entity.getTotalSold }}</td>	
			<td data-label="Spend">{{ entity.getTotalSpend  | format_currency('GBP', {rounding_mode: 'floor'}) }}</td>				
			<td data-label="Profits">{{ entity.getTotalProfit  | format_currency('GBP', {rounding_mode: 'floor'}) }}</td>	
			<td data-label="options">
			
				<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-cogs"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-right">
				{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}
				{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}
				</div>
			</td>				
			</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
