{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{% if( id ) %}Editing{% else %}New{% endif %} {{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% if( expense.id ) %}
			
				{% include "Forms/Elements/text.html" with {
					'label' : 'ID',
					'id': 'id', 
					'name': "#{controller}[id]", 
					'description': 'ID of this Expense',
					'readonly': 'readonly',
					'value': expense.id
				}%}
				
				<hr class="my-4">		

			{% endif %}		

			{% include "Forms/Elements/text.html" with {
				'label' : 'Name',
				'id': 'name', 
				'name': "#{controller}[name]", 
				'description': 'Expense Name',
				'value': expense.name
			}%}			

			{% include "Forms/Elements/select.html" with {
				'label' : 'Account',		
				'id': 'account_id', 
				'name': "#{controller}[account_id]", 
				'description': 'Account making this transaction?',
				'required': 'required',
				'value': expense.account.id,

				'options': accounts						
			}%}
			
			{% include "Forms/Elements/text-date.html" with {
				'label' : 'Date',	
				'id': 'date', 
				'name': "#{controller}[date]", 
				'description': 'Date this expense was made',
				'required': 'required',
				'value' : expense.date				
			}%}				


			{% include "Forms/Elements/select-multiple.html" with {
				'label' : 'Purchases',		
				'id': 'purchase_id', 
				'name': "#{controller}[purchases][]", 
				'description': 'Purchases to assign to this expense',
				'required': 'required',
				'value': [expense.purchases, "id"],
				'options': purchases						
			}%}		
		
			{% include "Forms/Elements/text-currency.html" with {
				'label' : 'Amount',			
				'id': 'amount', 
				'name': "#{controller}[amount]", 
				'description': 'Price paid for this expense',
				'required': 'required',
				'value': expense.amount				
			}%}			
					
		{% endblock %}
	{% endembed %}
{% endblock %}
