{% extends "base.html" %}

{% block title %}Purchase Categories{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{% if( id ) %}Editing{% else %}New{% endif %} {{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% if( purchaseCategory.id ) %}
			
				{% include "Forms/Elements/text.html" with {
					'label' : 'ID',
					'id': 'id', 
					'name': "#{controller}[id]", 
					'description': 'ID of this Category',
					'readonly': 'readonly',
					'value': purchaseCategory.id
				}%}
				
				<hr class="my-4">		

			{% endif %}		

			{% include "Forms/Elements/text.html" with {
				'label' : 'Name',
				'id': 'name', 
				'name': "#{controller}[name]", 
				'description': 'Category Name',
				'required': 'required',				
				'value': purchaseCategory.name
			}%}			
			
			{% include "Forms/Elements/text-colorpicker.html" with {
				'label' : 'Color',			
				'id': 'color', 
				'name': "#{controller}[color]", 
				'description': 'Give this category a color',
				'required': 'required',
				'value': purchaseCategory.color				
			}%}		
			
			{% include "Forms/Elements/select.html" with {
				'label' : 'Parent Category',		
				'id': 'parent_id', 
				'name': "#{controller}[parent_id]", 
				'description': 'Link this to another Category?',
				'value': purchaseCategory.parent.id,
				'options': categories						
			}%}			
					
		{% endblock %}
	{% endembed %}
{% endblock %}
