{% extends "base.html" %}

{% block title %}eBay Intergrations{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{% if( id ) %}Editing{% else %}New{% endif %} {{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% if( intergration.id ) %}
			
				{% include "Forms/Elements/text.html" with {
					'label' : 'ID',
					'id': 'id', 
					'name': "#{controller}[id]", 
					'description': 'ID of this User',
					'readonly': 'readonly',
					'value': intergration.id
				}%}
				
				<hr class="my-4">		

			{% endif %}	

			{% include "Forms/Elements/text.html" with {
				'label' : 'Username',
				'id': 'ebayUserId', 
				'name': "#{controller}[userId]", 
				'description': 'eBay Username',
				'value': intergration.userId
			}%}
		
			{% include "Forms/Elements/text.html" with {
				'label' : 'Dev ID',
				'id': 'eBayDevId', 
				'name': "#{controller}[devId]", 
				'description': 'eBay Developer ID',
				'value': intergration.devId
			}%}
			
			{% include "Forms/Elements/text.html" with {
				'label' : 'App ID',
				'id': 'eBayAppId', 
				'name': "#{controller}[appId]", 
				'description': 'eBay App ID',
				'value': intergration.appId
			}%}				
			
			{% include "Forms/Elements/text.html" with {
				'label' : 'Cert ID',
				'id': 'eBayCertId', 
				'name': "#{controller}[certId]", 
				'description': 'eBay Certificate ID',
				'value': intergration.certId
			}%}		

			{% include "Forms/Elements/text.html" with {
				'label' : 'Auth Token',
				'id': 'eBayAuthToken', 
				'name': "#{controller}[authToken]", 
				'description': 'eBay User Auth Token',
				'value': intergration.authToken
			}%}					
			
			
					
		{% endblock %}
	{% endembed %}
{% endblock %}
