/* Colors */
/* Toasts */
/* line 3, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast {
  position: absolute;
  top: 60px;
  left: 10px;
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

/* line 15, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-sm {
  padding: 10px;
  font-size: 80%;
}

/* line 19, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-lg {
  padding: 35px;
  font-size: large;
}

/* line 23, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-success {
  border-color: #80D651;
}

/* line 26, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-success > strong {
  color: #80D651;
}

/* line 29, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-info {
  border-color: #45ABCD;
}

/* line 32, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-info > strong {
  color: #45ABCD;
}

/* line 35, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-warning {
  border-color: #FEAF20;
}

/* line 38, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-warning > strong {
  color: #FEAF20;
}

/* line 41, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-danger {
  border-color: #d73814;
}

/* line 44, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-danger > strong {
  color: #d73814;
}

/* line 1, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.content {
  margin: 20px 5% 20px 5%;
}

/* line 5, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.login {
  margin-top: 100px;
}

/* line 9, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.login button {
  width: 100%;
}

/* line 13, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.login .login-logo {
  margin-top: 40px;
}

/* line 19, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.login-bg {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/static/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

/* line 39, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.nav-link .logo {
  height: 25px;
}

/* line 46, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-forsale {
  background-color: #007bff;
  color: #fff;
}

/* line 51, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-sold {
  background-color: #28a745;
  color: #fff;
}

/* line 56, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-held {
  background-color: #999;
  color: #fff;
}

/* line 61, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-requiresrepair {
  background-color: #dd4b39;
  color: #fff;
}

/* line 66, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-writtenoff {
  background-color: #666;
  color: #fff;
}

/* line 71, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-boughtout {
  background-color: #810696;
  color: #fff;
}

/* line 78, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.btn-sub-table {
  width: 17px;
  height: 17px;
  font-size: 10px;
  padding: 0px 0px;
}

/* line 86, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table {
  background-color: #fff !important;
  display: none;
  font-size: 12px;
}

/* line 92, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .badge-boughtout {
  display: none;
}

/* line 96, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table table {
  width: 100%;
}

/* line 100, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .btn {
  width: 17px;
  height: 17px;
  font-size: 10px;
  padding: 0px 0px;
}

/* line 107, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table td {
  background-color: #fff !important;
  padding: 4px 5px;
}

/* line 112, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .buyout {
  color: red;
  text-decoration: line-through;
}

/* line 117, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .buyout .badge-boughtout {
  display: block;
  text-decoration: none;
}

/* line 126, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.colorbox {
  height: 30px;
  width: 30px;
}

/* line 131, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.nav-mobile-logout {
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  display: none;
}

/* line 139, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.back-button {
  margin-bottom: 10px;
  text-align: right;
}

/* line 144, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.add-note-button {
  margin-bottom: 10px;
  text-align: right;
}

/* line 1, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.select2-container {
  height: calc(2.25rem + 2px) !important;
  width: 100% !important;
}

/* line 6, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.select2-container--default .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}

/* line 11, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: calc(2.25rem + 0px) !important;
  height: calc(2.25rem + 2px) !important;
  padding-left: 12px;
}

/* line 17, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.validation-tick {
  font-size: .9375rem;
  color: #afca0b;
  position: absolute;
  right: -10px;
  top: 10px;
}

/* line 28, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.input-group .validation-tick {
  right: -25px;
}

/* line 33, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.readonly-padlock {
  font-size: .9375rem;
  color: #707070;
  position: relative;
  margin: 0px 5px 0px 5px;
  left: 20px;
}

/* line 41, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.content .readonly-padlock {
  left: 35px;
  top: -30px;
  float: right;
}

/* line 47, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.form-text {
  margin-left: 15px;
}

/* line 52, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.preview-image-holder {
  width: 100%;
  padding-top: 50px;
}

/* line 57, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.preview-image-holder .preview-image {
  width: 400px;
  height: 400px;
}

/* line 66, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#rs-meter-wrapper {
  width: 70px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #ced4da;
}

/* line 72, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#meter_weak,
#meter_good,
#meter_strong {
  width: 30.333333%;
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  height: 30px;
  border-right: 3px solid #fff;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 88, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#meter_strong {
  border-right: none;
}

/* line 92, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#rs-pass_type {
  text-align: right;
  display: block;
  width: 320px;
}

/* line 97, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#rs-pass_type p.pass--strong {
  color: #5b6906;
}

/* line 103, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.col-select2 {
  padding-left: 18px;
}

/* line 107, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.row-select2 {
  padding: 5px 0px 5px;
  font-size: 12px;
}

/* line 112, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.row-select2-header {
  background-color: #e4e4e4;
  padding: 5px 0px 5px;
  font-size: 12px;
}

/* line 118, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.col-select2-header {
  padding-left: 21px;
}

/* line 4, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.dataTable .btn {
  margin-left: 5px;
}

/* line 8, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.dataTable img {
  width: 100px;
  height: 100px;
}

/* line 15, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.btn-datatable-new {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* line 22, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.datatable-loading {
  width: 100%;
  height: 600px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* line 31, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
table.dataTable thead th, table.dataTable thead td {
  max-width: 300px;
}

/* line 36, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.rag-orange {
  color: #d98d0b;
}

/* line 40, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.rag-green {
  color: #28a745;
}

/* line 44, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.rag-red {
  color: #dc3545;
}

/* line 1, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border: 0;
  margin-bottom: 24px;
}

/* line 7, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel i {
  font-size: 6em;
}

/* line 14, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-body {
  padding: 25px 20px;
}

/* line 18, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel hr {
  border-color: rgba(0, 0, 0, 0.1);
}

/* line 22, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.mar-btm {
  margin-bottom: 15px;
}

/* line 27, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-dark.panel-colorful {
  background-color: #3b4146;
  border-color: #3b4146;
  color: #fff;
}

/* line 33, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-success.panel-colorful {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

/* line 39, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-danger.panel-colorful {
  background-color: #f76c51;
  border-color: #f76c51;
  color: #fff;
}

/* line 45, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-primary.panel-colorful {
  background-color: #5fa2dd;
  border-color: #5fa2dd;
  color: #fff;
}

/* line 51, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-secondary.panel-colorful {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

/* line 57, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-info.panel-colorful {
  background-color: #4ebcda;
  border-color: #4ebcda;
  color: #fff;
}

/* line 63, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-warning.panel-colorful {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* line 5, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .content {
    margin: 10px 5% 10px 5%;
  }
  /* line 10, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .login {
    margin-top: 10px;
  }
  /* line 14, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .form-group label {
    width: 100%;
  }
  /* line 18, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .col-select2, .col-select2-header {
    display: inline;
    width: 33%;
  }
  /* line 23, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .nav-logout {
    display: none;
  }
  /* line 27, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .nav-mobile-logout {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
  /* line 35, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .content {
    margin: 10px 5% 10px 5%;
  }
  /* line 40, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .login {
    margin-top: 10px;
  }
  /* line 44, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .form-group label {
    width: 100%;
    width: 33%;
  }
  /* line 49, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .col-select2, .col-select2-header {
    width: 33%;
  }
  /* line 54, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .nav-logout {
    display: none;
  }
  /* line 58, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .nav-mobile-logout {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* line 66, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .content {
    margin: 10px 5% 10px 5%;
  }
  /* line 70, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .login {
    margin-top: 10px;
  }
  /* line 74, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .form-group label {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */