/* Colors */
/* line 1, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.content {
  margin: 20px 5% 20px 5%;
}

/* line 5, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
hr {
  background-color: #cce8ff;
  opacity: 0.5;
}

/* line 10, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-primary {
  background-color: #007bff;
  background-image: var(--bs-gradient);
  color: #fff;
}

/* line 16, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-secondary {
  background-color: #6c757d;
  background-image: var(--bs-gradient);
  color: #fff;
}

/* line 22, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-success {
  background-color: #4caf50;
  background-image: var(--bs-gradient);
  color: #fff;
}

/* line 31, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-purchase.forsale {
  background-color: #007bff;
  color: #fff;
}

/* line 36, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-purchase.sold {
  background-color: #28a745;
  color: #fff;
}

/* line 41, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-purchase.held {
  background-color: #999;
  color: #fff;
}

/* line 46, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-purchase.requiresrepair {
  background-color: #dd4b39;
  color: #fff;
}

/* line 51, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-purchase.writtenoff {
  background-color: #666;
  color: #fff;
}

/* line 56, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-purchase.boughtout {
  background-color: #810696;
  color: #fff;
}

/* line 65, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-sale.in-complete {
  background-color: #007bff;
  color: #fff;
}

/* line 70, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-sale.complete {
  background-color: #28a745;
  color: #fff;
}

/* line 75, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-sale.cancelled {
  background-color: #666;
  color: #fff;
}

/* line 83, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.badge-float {
  position: relative;
  top: -15px;
  left: 6px;
  z-index: 2;
  padding: 1px 7px;
  margin-left: -23px;
  font-size: 11px;
  color: #fff;
  border-radius: 10em;
}

/* line 95, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.btn-sub-table {
  width: 17px;
  height: 17px;
  font-size: 10px;
  padding: 0px 0px;
}

/* line 103, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table {
  background-color: #fff !important;
  display: none;
  font-size: 12px;
}

/* line 109, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .badge-boughtout {
  display: none;
}

/* line 113, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table table {
  width: 100%;
}

/* line 117, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .btn {
  width: 17px;
  height: 17px;
  font-size: 10px;
  padding: 0px 0px;
}

/* line 124, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table td {
  background-color: #fff !important;
  padding: 4px 5px;
}

/* line 129, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .buyout {
  color: red;
  text-decoration: line-through;
}

/* line 134, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.sub-table .buyout .badge-boughtout {
  display: block;
  text-decoration: none;
}

/* line 143, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.colorbox {
  height: 30px;
  width: 30px;
}

/* line 148, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.nav-mobile-logout {
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  display: none;
}

/* line 156, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.back-button {
  margin-bottom: 10px;
  text-align: right;
}

/* line 161, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.add-note-button {
  margin-bottom: 10px;
  text-align: right;
}

/* line 166, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.btn-modal-close {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .1rem .6rem;
  font-size: 1rem;
  border-radius: .25rem;
  color: #fff;
  background-color: #e51c23;
  background-image: var(--bs-gradient);
  border: 0px;
}

/* line 189, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.panel-colorful {
  background-image: var(--bs-gradient);
}

/* line 197, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.purchase-image img {
  border-radius: 5px;
  border: 3px solid #e5e5e5;
}

/* line 204, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.purchase-image.thumbnail img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* line 214, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.purchase-image.small img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* line 227, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.Home .card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* line 238, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.Home .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: .25rem;
}

/* line 250, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.Home .card {
  font-size: .875rem;
}

/* line 254, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.Home .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* line 261, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.Home .card [class*="card-header-"] .card-icon, .Home .card [class*="card-header-"] .card-text {
  border-radius: 3px;
  background-color: #999;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}

/* line 280, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.card-stats .card-header .card-category, .card-stats .card-header .card-title {
  text-align: right;
}

/* line 284, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.card-stats .card-header .card-icon {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

/* line 288, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.card-stats .card-header .card-icon i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
  color: #fff;
}

/* line 305, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_style.scss */
.card-chart .card-header {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15p;
}

/* Toasts */
/* line 3, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast {
  position: absolute;
  top: 60px;
  left: 10px;
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

/* line 15, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-sm {
  padding: 10px;
  font-size: 80%;
}

/* line 19, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-lg {
  padding: 35px;
  font-size: large;
}

/* line 23, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-success {
  border-color: #80D651;
}

/* line 26, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-success > strong {
  color: #80D651;
}

/* line 29, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-info {
  border-color: #45ABCD;
}

/* line 32, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-info > strong {
  color: #45ABCD;
}

/* line 35, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-warning {
  border-color: #FEAF20;
}

/* line 38, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-warning > strong {
  color: #FEAF20;
}

/* line 41, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-danger {
  border-color: #d73814;
}

/* line 44, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_toast.scss */
.toast-danger > strong {
  color: #d73814;
}

/* line 1, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.select2-container {
  height: calc(2.25rem + 2px) !important;
  width: 100% !important;
}

/* line 6, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.select2-container--default .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}

/* line 11, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: calc(2.25rem + 0px) !important;
  height: calc(2.25rem + 2px) !important;
  padding-left: 12px;
}

/* line 17, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.validation-tick {
  font-size: .9375rem;
  color: #afca0b;
  position: absolute;
  right: -10px;
  top: 10px;
}

/* line 28, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.input-group .validation-tick {
  right: -25px;
}

/* line 33, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.readonly-padlock {
  font-size: .9375rem;
  color: #707070;
  position: relative;
  margin: 0px 5px 0px 5px;
  left: 20px;
}

/* line 41, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.content .readonly-padlock {
  left: 35px;
  top: -30px;
  float: right;
}

/* line 49, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#rs-meter-wrapper {
  width: 70px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #ced4da;
}

/* line 55, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#meter_weak,
#meter_good,
#meter_strong {
  width: 30.333333%;
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  height: 30px;
  border-right: 3px solid #fff;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 71, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#meter_strong {
  border-right: none;
}

/* line 75, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#rs-pass_type {
  text-align: right;
  display: block;
  width: 320px;
}

/* line 80, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#rs-pass_type p.pass--strong {
  color: #5b6906;
}

/* line 86, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.col-select2 {
  padding-left: 18px;
}

/* line 90, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.row-select2 {
  padding: 5px 0px 5px;
  font-size: 12px;
}

/* line 95, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.row-select2-header {
  background-color: #e4e4e4;
  padding: 5px 0px 5px;
  font-size: 12px;
}

/* line 101, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.col-select2-header {
  padding-left: 21px;
}

/* line 106, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.form-images-preview {
  display: inline-flex;
}

/* line 110, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.preview-image {
  width: 200px;
  height: 200px;
  margin: 20px;
}

/* line 116, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.preview-image img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
}

/* line 123, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.preview-image .badge {
  cursor: pointer;
  top: -115px;
  height: 20px;
  line-height: 20px;
}

/* line 132, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.image-upload {
  display: none;
}

/* line 136, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
#addNoteCollapse {
  margin-bottom: 10px;
}

/* line 140, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
[contenteditable].form-control[disabled], [contenteditable].form-control[readonly], [type="email"].form-control[disabled], [type="email"].form-control[readonly], [type="password"].form-control[disabled], [type="password"].form-control[readonly], [type="tel"].form-control[disabled], [type="tel"].form-control[readonly], [type="text"].form-control[disabled], [type="text"].form-control[readonly], input.form-control[disabled], input.form-control[readonly], input[type="email"][disabled], input[type="email"][readonly], input[type="number"][disabled], input[type="number"][readonly], input[type="password"][disabled], input[type="password"][readonly], input[type="text"][disabled], input[type="text"][readonly], textarea.form-control[disabled], textarea.form-control[readonly], textarea[disabled], textarea[readonly] {
  box-shadow: none;
  border-bottom: 1px dotted #ddd;
  background-color: #f7f7f7;
}

/* line 146, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.form-control {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
}

/* line 153, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
[contenteditable].form-control:focus, [type="email"].form-control:focus, [type="password"].form-control:focus, [type="tel"].form-control:focus, [type="text"].form-control:focus, input.form-control:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="text"]:focus, textarea.form-control:focus, textarea:focus {
  box-shadow: inset 0 -2px 0 #fff;
}

/* line 158, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.input-group .input-group-text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px 0px 0px 4px;
}

/* line 178, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_forms.scss */
.form-control:not(textarea) {
  height: 40px;
}

/* line 4, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.dataTable .btn {
  margin-left: 5px;
}

/* line 9, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.btn-datatable-new {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* line 16, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.datatable-loading {
  width: 100%;
  height: 600px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* line 25, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
table.dataTable thead th, table.dataTable thead td {
  max-width: 300px;
}

/* line 30, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.rag-orange {
  color: #d98d0b;
}

/* line 34, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.rag-green {
  color: #28a745;
}

/* line 38, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.rag-red {
  color: #dc3545;
}

/* line 43, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

/* line 47, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.dataTables_wrapper .dataTables_length select {
  width: 7rem;
}

/* line 52, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.table-striped > tbody > tr:nth-of-type(2n+1) {
  color: var(--bs-table-striped-color);
  background-color: #f2f7fa;
  --bs-table-accent-bg: none;
}

/* line 59, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

/* line 64, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.table tr:first-child th {
  background-color: #2196f3;
  border: 1px solid #ddd;
  padding: .35em;
  color: #fff;
}

/* line 71, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.table tr {
  border: 1px solid #ddd;
}

/* line 75, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
table th,
table td {
  padding: .625em;
  text-align: left;
}

/* line 81, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

/* line 87, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.progress {
  height: 1rem;
}

/* line 91, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.progress-bar {
  height: 1rem;
}

/* line 96, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_datatables.scss */
.note-table th, .note-table td {
  white-space: break-spaces !important;
}

/* line 1, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border: 0;
  margin-bottom: 24px;
}

/* line 7, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel i {
  font-size: 6em;
  color: #000;
  opacity: 0.1;
}

/* line 16, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-body {
  padding: 25px 20px;
}

/* line 20, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel hr {
  border-color: rgba(0, 0, 0, 0.1);
}

/* line 24, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.mar-btm {
  margin-bottom: 15px;
}

/* line 29, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-dark.panel-colorful {
  background-color: #3b4146;
  border-color: #3b4146;
  color: #fff;
}

/* line 35, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-success.panel-colorful {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

/* line 41, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-danger.panel-colorful {
  background-color: #f76c51;
  border-color: #f76c51;
  color: #fff;
}

/* line 47, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-primary.panel-colorful {
  background-color: #5fa2dd;
  border-color: #5fa2dd;
  color: #fff;
}

/* line 53, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-secondary.panel-colorful {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

/* line 59, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-info.panel-colorful {
  background-color: #4ebcda;
  border-color: #4ebcda;
  color: #fff;
}

/* line 65, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_dashboard.scss */
.panel-warning.panel-colorful {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
}

/* line 2, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_login.scss */
.login {
  margin-top: 100px;
}

/* line 6, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_login.scss */
.login .btn {
  width: 100%;
  margin-top: 40px;
}

/* line 11, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_login.scss */
.login .login-logo img {
  width: 50%;
  height: auto;
  margin: 0 auto 10px;
  display: block;
  margin-top: 40px;
}

/* line 8, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_nav.scss */
.nav-icon {
  padding: 1rem;
}

/* line 11, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_nav.scss */
.nav-icon .logo {
  height: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* line 14, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table {
    border: 0;
  }
  /* line 18, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table caption {
    font-size: 1.3em;
  }
  /* line 22, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  /* line 33, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  /* line 39, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  /* line 46, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td::before {
    content: attr(aria-label);
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  /* line 54, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td:last-child {
    border-bottom: 0;
  }
  /* line 7, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .login {
    margin-top: 10px;
  }
  /* line 12, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .navbar {
    padding-left: 10px;
  }
  /* line 18, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  table .share {
    padding: 0px 0px 0px 40px;
  }
  /* line 22, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  table .progress {
    background-color: transparent;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
  /* line 14, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table {
    border: 0;
  }
  /* line 18, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table caption {
    font-size: 1.3em;
  }
  /* line 22, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  /* line 33, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  /* line 39, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  /* line 46, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td::before {
    content: attr(aria-label);
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  /* line 54, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td:last-child {
    border-bottom: 0;
  }
  /* line 35, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .navbar {
    padding-left: 10px;
  }
}

/* Landscape Tablets devices (up to 1024px) */
@media only screen and (max-width: 1024px) {
  /* line 14, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table {
    border: 0;
  }
  /* line 18, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table caption {
    font-size: 1.3em;
  }
  /* line 22, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  /* line 33, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  /* line 39, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  /* line 46, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td::before {
    content: attr(aria-label);
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  /* line 54, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_mixins.scss */
  table td:last-child {
    border-bottom: 0;
  }
  /* line 46, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .navbar {
    padding-left: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* line 57, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
  .navbar {
    padding-left: 10px;
  }
}

/* line 63, ../Users/louis.varley/Documents/GitHub/RetroSeller/Static/scss/_responsive.scss */
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
  border: 0px !important;
  box-shadow: none !important;
  background-color: #28a745;
  border-radius: 0.3rem !important;
}

/*# sourceMappingURL=style.css.map */