{% extends "base.html" %}

{% block title %}Invoice{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}
	
			{% include "Forms/Elements/select.html" with {
				'label' : 'Account',		
				'id': 'status', 
				'name': "#{controller}[account]", 
				'description': 'Account is Payee, used to generate payment details, logos etc?',
				'required': 'required',
				'options': accounts			
			}%}	

		{% endblock %}
	{% endembed %}
{% endblock %}
