{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="row">


	{% for account in accounts %}

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-info panel-colorful" style="background-color:{{ account.color }}">
                <div class="panel-body text-center">
                	<p class="text-uppercase mar-btm text-sm">{{ account.name }}</p>
                	<i class="fas fa-piggy-bank"></i>
                	<hr>
					
										
					<div class="row">
					
						<div class="col-sm-4 border-right">
							<p class="h4 text-thin">{{ account.balance | format_currency('GBP', {rounding_mode: 'floor'}) }}</p>
							<p class="h7"><span class="text-semibold">Balance</span></p>
						</div>
							<div class="col-sm-4 border-right">
							<p class="h4 text-thin">{{ account.myProfit | format_currency('GBP', {rounding_mode: 'floor'}) }}</p>
							<p class="h7"><span class="text-semibold">Profits</span></p>
						</div>
						
							<div class="col-sm-4 border-right">
							<p class="h4 text-thin">{{ account.balance | format_currency('GBP', {rounding_mode: 'floor'}) }}</p>
							<p class="h7"><span class="text-semibold">Sales</span></p>
						</div>
					
					</div>
					
					
                	
                </div>
            </div>
        </div>
		
	{% endfor %}	

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="panel panel-success panel-colorful">
			<div class="panel-body text-center">
				<p class="text-uppercase mar-btm text-sm">30 Days Sales</p>
				<canvas id="salesChart" width="400" height="217px"></canvas>
				<hr>
				
				
			</div>
		</div>
	</div>
	
	
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="panel panel-secondary panel-colorful">
			<div class="panel-body text-center">
				<p class="text-uppercase mar-btm text-sm">Stock for Sale</p>
				<i class="fas fa-cubes"></i>
				<hr>
				<p class="h2 text-thin">{{ purchases | length }}</p>
				<small><span class="text-semibold">Items Set as For Sale</span></small>
			</div>
		</div>
	</div>
	
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-primary panel-colorful">
                <div class="panel-body text-center">
                	<p class="text-uppercase mar-btm text-sm">Total Profits</p>
                	<i class="fas fa-pound-sign"></i>
                	<hr>
                	<p class="h2 text-thin">{{ profit | format_currency('GBP', {rounding_mode: 'floor'}) }}</p>
                	<small><span class="text-semibold">Total Profits</span></small>
                </div>
            </div>
        </div>
	</div>
	
<script>
var ctx = document.getElementById('salesChart');
var myChart = new Chart(ctx, {
    type: 'line',
	  data: {
	  labels: [{% for key,value in salesData %}'{{key}}',{% endfor %}],
		datasets: [
			{
			label: 'Gross',
			data: [{% for key,value in salesData %}'{{value.gross}}',{% endfor %}],
			showLine: true,
			fill: false,
			borderColor: 'rgba(255, 255, 255, 0.8)'
			},
		  {
			label: 'Net',
			data: [{% for key,value in salesData %}'{{value.net}}',{% endfor %}],
			showLine: true,
			fill: false,
			borderColor: 'rgba(255, 255, 255, 0.5)'
			}
		]
	  },	
	
	
 
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


{% endblock %}


