 {% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row">
 {% for account in accounts %}
   <div class="col-sm-6 col-lg-4">

	<div class="card mb-4 text-white" style="background-color:{{ account.color }}">
		<div class="card-header">
			<h4 class="card-title mb-0">{{ account.name }}</h4>
		</div>

		<div class="card-body pb-0 d-flex justify-content-between align-items-start">
			<div>
				<div class="fs-5 fw-semibold">{{ account.balance | format_currency('GBP', {rounding_mode: 'floor'}) }}</div>
				<div>Balance</div>		 
			</div>
			
			<div>
				<div class="fs-5 fw-semibold">{{ account.myProfit | format_currency('GBP', {rounding_mode: 'floor'}) }}</div>
				<div>Profit</div>		 
			</div>
			
			<div>
				<div class="fs-5 fw-semibold">{{ account.withDrawn | format_currency('GBP', {rounding_mode: 'floor'}) }}</div>
				<div>Withdrawn</div>		 
			</div>
			
		</div>
	    <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
			<canvas class="chart" id="{{account.id}}_accountChart" style="display: block; box-sizing: border-box; height: 70px; width: 274px;" width="274" height="70"></canvas>
		</div>
	</div>
   </div>
 {% endfor %}


<div class="card mb-4">
   <div class="card-body bg-primary text-white">
      <div class="d-flex justify-content-between">
         <div>
            <h4 class="card-title mb-0">Sales</h4>
            <div class="small text-medium-emphasis">Last 30 Days</div>
         </div>
        
      </div>
      <div class="c-chart-wrapper" style="height:300px;margin-top:40px;">
         <canvas id="salesChart" style="color: #fff; display: block; box-sizing: border-box; height: 300px; width: 1264px;" width="1264" height="300"></canvas>
         <div class="chartjs-tooltip" style="opacity: 0; left: 729.889px; top: 351.46px;">
            <table style="margin: 0px;">
               <thead class="chartjs-tooltip-header">
                  <tr style="border-width: 0px;" class="chartjs-tooltip-header-item">
                     <th style="border-width: 0px;">T</th>
                  </tr>
               </thead>
               <tbody class="chartjs-tooltip-body">
                  <tr class="chartjs-tooltip-body-item">
                     <td style="border-width: 0px;"><span style="background: rgba(82, 153, 224, 0.1) none repeat scroll 0% 0%; border-color: rgb(82, 153, 224); border-width: 2px; margin-right: 10px; height: 10px; width: 10px; display: inline-block;"></span>My First dataset: 161</td>
                  </tr>
                  <tr class="chartjs-tooltip-body-item">
                     <td style="border-width: 0px;"><span style="background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; border-color: rgb(81, 150, 104); border-width: 2px; margin-right: 10px; height: 10px; width: 10px; display: inline-block;"></span>My Second dataset: 84</td>
                  </tr>
                  <tr class="chartjs-tooltip-body-item">
                     <td style="border-width: 0px;"><span style="background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; border-color: rgb(199, 113, 113); border-width: 2px; margin-right: 10px; height: 10px; width: 10px; display: inline-block;"></span>My Third dataset: 65</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<div class="row">
	<h4 class="card-title mb-0">Statistics</h4>
</div>

<div class="row">
  <div class="col-md-2 col-sm-4">
    <div class="card bg-{% if( salesThisWeek >= salesLastWeek ) %}success{% else %}danger{% endif %} text-white">
      <div class="card-body text-center">
        <h4 class="card-title mb-0">Sales</h4>
        <h4 class="card-title mb-0">This Week</h4>		
        <div class="fs-6 fw-semibold py-3">{{ salesThisWeek }} {% if( salesThisWeek >= salesLastWeek ) %}<i class="fas fa-arrow-up"></i>{% else %}<i class="fas fa-arrow-down"></i>{% endif %}</div>
      </div>
    </div>
  </div>


  <div class="col-md-2 col-sm-4">
    <div class="card bg-primary text-white">
      <div class="card-body text-center">
        <h4 class="card-title mb-0">Sales</h4>
        <h4 class="card-title mb-0">Last Week</h4>		
        <div class="fs-6 fw-semibold py-3">{{ salesLastWeek }}</div>
      </div>
    </div>
  </div>
  
  <div class="col-md-2 col-sm-4">
    <div class="card bg-primary text-white">
      <div class="card-body text-center">
        <h4 class="card-title mb-0">Sales</h4>
        <h4 class="card-title mb-0">All Time</h4>		
        <div class="fs-6 fw-semibold py-3">{{ salesAllTime }}</div>
      </div>
    </div>
  </div>  
  
  <div class="col-md-2 col-sm-4">
    <div class="card bg-{% if( salesThisWeek >= salesLastWeek ) %}success{% else %}danger{% endif %} text-white">
      <div class="card-body text-center">
        <h4 class="card-title mb-0">Profit</h4>
        <h4 class="card-title mb-0">This Week</h4>			
        <div class="fs-6 fw-semibold py-3">{{ profitThisWeek  | format_currency('GBP', {rounding_mode: 'floor'}) }} {% if( salesThisWeek >= salesLastWeek ) %}<i class="fas fa-arrow-up"></i>{% else %}<i class="fas fa-arrow-down"></i>{% endif %}</div>
		
      </div>
    </div>
  </div>     
  
  <div class="col-md-2 col-sm-4">
    <div class="card bg-primary text-white">
      <div class="card-body text-center">
        <h4 class="card-title mb-0">Profit</h4>
        <h4 class="card-title mb-0">Last Week</h4>		
        <div class="fs-6 fw-semibold py-3">{{ profitLastWeek  | format_currency('GBP', {rounding_mode: 'floor'}) }}</div>
      </div>
    </div>
  </div>  
 
  <div class="col-md-2 col-sm-4">
    <div class="card bg-primary text-white">
      <div class="card-body text-center">
        <h4 class="card-title mb-0">Profit</h4>
        <h4 class="card-title mb-0">All Time</h4>	
        <div class="fs-6 fw-semibold py-3">{{ profitAllTime  | format_currency('GBP', {rounding_mode: 'floor'}) }}</div>
      </div>
    </div>
  </div>    
</div>


<div class="row">
	<h4 class="card-title mb-0">Latest Sales</h4>
</div>

<div class="card">
	<table class="table">
	  <thead> 
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Date</th>
		  <th scope="col">Status</th>
		  <th scope="col">Vendor</th>
		  <th scope="col">Sold</th>	 
		  <th scope="col">Gross Amount</th>	  
		  <th scope="col">Net Amount</th>
		  <th scope="col">Profit</th>	  
		</tr>
	  </thead>
	  <tbody>
		{% for sale in latestSales %}
		<tr>
		  <td data-label="#">{{ sale.id }}</td>
		  <td data-label="Date">{{ sale.date | date('d/m/Y') }}</td>
		  <td data-label="Status"><span class="badge badge-sale {{ sale.status.name | lower | replace({' ': ''}) }}">{{ sale.status.name }}</span></td>
		  <td data-label="Vendor">{{ sale.saleVendor.name }}</td>
		  <td data-label="Sold">{{ sale.PurchasesString }}</td>
		  <td data-label="Gross">{{ sale.grossAmount | format_currency('GBP', {rounding_mode: 'floor'}) }} </td>	
		  <td data-label="Net">{{ sale.netAmount | format_currency('GBP', {rounding_mode: 'floor'}) }} </td>	 
		  <td data-label="Profit">{{ sale.ProfitAmount | format_currency('GBP', {rounding_mode: 'floor'}) }} </td>	 	  
		</tr>
	   {% endfor %}
	  </tbody>
	</table>
</div>


<div class="row">
	<h4 class="card-title mb-0">Latest Purchases</h4>
</div>

<div class="card">
	<table class="table">
	  <thead> 
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Date</th>
		  <th scope="col">Vendor</th>
		  <th scope="col">Name</th>	 
		  <th scope="col">Spend</th>	  
		  <th scope="col">Share</th>
		</tr>
	  </thead>
	  <tbody>
		{% for purchase in latestPurchases %}
		<tr>
		  <td data-label="#">{{ purchase.id }}</td>
		  <td data-label="Date">{{ purchase.date | date('d/m/Y') }}</td>
		  <td data-label="Vendor">{{ purchase.PurchaseVendor.name }}</td>
		  <td data-label="Name"><a href="/purchase/edit/{{ purchase.id }}">{{ purchase.name }}</a></td>
		  <td data-label="Spend">{{ purchase.totalSpend  | format_currency('GBP', {rounding_mode: 'floor'}) }}</td>	
		  <td data-label="Share">
			<div class="progress share">
				{% for account in purchase.expenseShare %}
					<div data-tooltip="{{ account.name }} {{ account.percentage |round(1, 'floor') }}%" class="progress-bar tool-tip" role="progressbar" style="background-color:{{ account.color }}; width: {{ account.percentage }}%" aria-valuenow="{{ account.amount }}" aria-valuemin="0" aria-valuemax="{{ entity.totalSpend }}"></div>
				{% endfor %}
			</div>
		  </td>	 
		 
		</tr>
	   {% endfor %}
	  </tbody>
	</table>
</div>

<script>
var ctx = document.getElementById('salesChart');
var chart = new Chart(ctx, {
    type: 'line',
	  data: {
	  labels: [{% for key,value in salesDaily %}'{{key}}',{% endfor %}],
		datasets: [

		  {
			label: 'Net',
			pointRadius: 0, 
			data: [{% for key,value in salesDaily %}'{{value.net}}',{% endfor %}],
			showLine: true,
			fill: true,
			borderColor: 'rgba(255, 255, 255, 1)'
			}
		]
	  },	
	  options: {
		maintainAspectRatio: false,
		plugins:{   
			legend: {
				display: false
			},
			datalabels: {
				display: true,
				color: "#fff",
				formatter: function (value, context) {
					return "£" + value;
				},			
			},
		},
		scales: {
			xAxes: {
				grid: {
					display:false
				},
				ticks: {
					color:'white' ,
				},
				scaleLabel : { color: 'white', fontSize:16 }			
			},
			yAxes: {
				beginAtZero: true,
				grid: {
					display:false
				},
				ticks: {
					color:'white',
					beginAtZero: true,
					callback: function(value, index, values) {
						return '£' + value;
					}
				},
				scaleLabel : { color: 'white', fontSize:16 }
			}
		}
	}
	
});

</script>

{% for account in accounts %}

<script>
var ctx = document.getElementById('{{account.id}}_accountChart');
var chart = new Chart(ctx, {
    type: 'line',
	  data: {
	  labels: [{% for transaction in account.getLatestTransactions %}'{{transaction.balance}}',{% endfor %}],
		datasets: [

		  {
			label: 'Net',
			data: [{% for transaction in account.getLatestTransactions %}'{{transaction.balance}}',{% endfor %}],
			showLine: true,
			fill: true,
			pointRadius: 0, 
			borderColor: 'rgba(255, 255, 255, 1)'
			}
		]
	  },	
	options: {
		plugins: { legend: { display: false } },
		yAxes: {beginAtZero: true},
		maintainAspectRatio: false,
		scales: { x: { grid: { display: false, drawBorder: false }, ticks: { display: false } }, y: { display: false, grid: { display: false }, ticks: { display: false } } },
		elements: { line: { borderWidth: 1, tension: 0.4 }, point: { radius: 4, hitRadius: 10, hoverRadius: 4 } },
	},
	
});

</script>

{% endfor %}

{% endblock %}


