{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}
		
			{% include "Forms/Elements/text-percentage.html" with {
				'label' : 'Undervalued Percentage',
				'id': 'id', 
				'name': "#{controller}[undervalued_percentage]", 
				'description': 'Percentage profit from valuation considered for low value report',
				'value': settings.undervalued_percentage
			}%}
			
			{% include "Forms/Elements/text-currency.html" with {
				'label' : 'eBay Safe Margins',
				'id': 'id', 
				'name': "#{controller}[undervalued_ebay]", 
				'description': 'Fixed amount for Fees considered low value for eBay Sales',
				'value': settings.undervalued_ebay
			}%}			
		
		{% endblock %}
	{% endembed %}
{% endblock %}
