{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% include "Forms/Elements/header-small.html" with {
				'title' : 'eBay Import Settings',
				'subtitle': 'Settings for eBay Sale importing', 
				
			}%}	
			
			{% include "Forms/Elements/select.html" with {
				'label' : 'eBay Sale Vendor',		
				'id': 'ebay_sale', 
				'name': "#{controller}[ebay_sale_vendor_id]", 
				'description': 'What vendor have you setup for eBay Sales?',
				'required': 'required',
				'value': settings.ebay_sale_vendor_id,
				'options': saleVendors			
			}%}		

			{% include "Forms/Elements/select.html" with {
				'label' : 'eBay Management Payment Vendor',		
				'id': 'ebay_payment', 
				'name': "#{controller}[ebay_payment_vendor_id]", 
				'description': 'What Vendor have you setup for eBay Management Payments?',
				'required': 'required',
				'value': settings.ebay_payment_vendor_id,
				'options': paymentVendors			
			}%}					
		
			{% include "Forms/Elements/header-small.html" with {
				'title' : 'Report Settings',
				'subtitle': 'Settings used for report generation', 
				
			}%}			
		
			{% include "Forms/Elements/text-percentage.html" with {
				'label' : 'Undervalued Percentage',
				'id': 'id', 
				'name': "#{controller}[undervalued_percentage]", 
				'description': 'Percentage profit from valuation considered for low value report',
				'value': settings.undervalued_percentage
			}%}		
		
		{% endblock %}
	{% endembed %}
{% endblock %}
