{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}
	{% embed "forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{% if( id ) %}Editing{% else %}New{% endif %} {{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% if( account.id ) %}
			
				{% include "forms/elements/text.html" with {
					'label' : 'ID',
					'id': 'id', 
					'name': "#{controller}[id]", 
					'description': 'ID of this User',
					'readonly': 'readonly',
					'value': user.id
				}%}
				
				<hr class="my-4">		

			{% endif %}		

			{% include "forms/elements/text-email.html" with {
				'label' : 'Email Address',
				'id': 'email', 
				'name': "#{controller}[email]", 
				'description': 'User Email',
				'required': 'required',
				'value': user.email
			}%}		

			<hr class="my-4">	

			{% include "forms/elements/text-password.html" with {
				'label' : 'Password',
				'id': 'password', 
				'name': "#{controller}[password]", 
				'description': 'Change your password',
			}%}		

			{% include "forms/elements/text-password.html" with {
				'label' : 'Password Confirm',
				'id': 'password-confirm', 
				'name': "#{controller}[password_confirm]", 
				'description': 'Confirm your password',
			}%}				
					
		{% endblock %}
	{% endembed %}
{% endblock %}
