{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Id","User","Status",""]	} %}
		{% block table_body %}
			{% for entity in entities %}
			<tr>
			<td data-label="Id">{{ entity.id }}</td>
			<td data-label="Username">{{ entity.userId }}</td>		
			<td data-label="Status"><span class="badge badge-integration {{ entity.status | lower | replace({' ': ''}) }}">{{ entity.status |capitalize }}</span>			
			<td>
			{% include '/Buttons/ebay-auth-button.html' with {'model': controller, 'id': entity.id} %}			
			{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}
			{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}
			</td>				
			</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
