{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Id","","Name","Status","Category", "Date", "Selling", "Total Spend","Share", "Options"]	} %}
		{% block table_body %}
			{% for entity in entities %}
				<tr>			
				<td data-label="Id">{{ entity.id }}</td>
				<td data-label=""><a href="/purchase/edit/{{ entity.id }}"><div class="purchase-image thumbnail"><img src="{{ entity.thumbnail}}"></div></a></td>
				<td data-label="Name"><a href="/purchase/edit/{{ entity.id }}">{{ entity.name }}</a></td>	
				<td data-label="Status"><span class="badge badge-purchase {{ entity.status.name | lower | replace({' ': ''}) }}">{{ entity.status.name }}</span></td>										
				<td data-label="Category">{{ entity.category.path }}</td>
				<td data-label="Date">{{ entity.date | date('d/m/Y') }}</td>
				<td data-label="Spent">{{ entity.valuation  | format_currency('GBP', {rounding_mode: 'floor'}) }}</td>
				<td data-label="Spent">{{ entity.totalSpend  | format_currency('GBP', {rounding_mode: 'floor'}) }}</td>
				<td data-label="Share">
					<div class="progress share">
					{% for account in entity.expenseShare %}
						<div data-tooltip="{{ account.name }} {{ account.percentage |round(1, 'floor') }}%" class="progress-bar tool-tip" role="progressbar" style="background-color:{{ account.color }}; width: {{ account.percentage }}%" aria-valuenow="{{ account.amount }}" aria-valuemin="0" aria-valuemax="{{ entity.totalSpend }}"></div>
					{% endfor %}
					</div>
				</td>
				<td data-label="Options">
				<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-cogs"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-right">				
					{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}			
					{% include '/Buttons/expenses-button.html' with {'modal': entity.id, 'id': entity.id} %}
					{% include '/Buttons/add-expenses-button.html' with {'modal': entity.id, 'id': entity.id} %}					
					{% include '/Buttons/notes-button.html' with {'modal': entity.id, 'id': entity.id} %}				
					{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}	
				</div>				
					{% include '/Modals/expenses.html' with {'entity': entity} %}
					{% include '/Modals/notes.html' with {'entity': entity, 'type': 'purchase'} %}	
				</td>
				</tr>
				
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
