{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Id","","Status", "Category", "Name", "Date", "Total Spend","Share", ""]	} %}
		{% block table_body %}
			{% for entity in entities %}
				<tr>			
				<td>{{ entity.id }}</td>
				<td><a target="_blank" href="{{ entity.getThumbnail() }}">{{ entity.thumbnail | as_thumbnail | raw }}</a></td>
				<td><span class="badge badge-purchase {{ entity.status.name | lower | replace({' ': ''}) }}">{{ entity.status.name }}</span></td>		
				<td>{{ entity.category.path }}</td>
				<td>{{ entity.name }}</td>	
				<td>{{ entity.date | date('d/m/Y') }}</td>
				<td>{{ entity.totalSpend  | format_currency('GBP', {rounding_mode: 'floor'}) }}</td>
				<td>
					<div class="progress">
					{% for account in entity.expenseShare %}
						<div data-tooltip="{{ account.name }} {{ account.percentage |round(1, 'floor') }}%" class="progress-bar tool-tip" role="progressbar" style="background-color:{{ account.color }}; width: {{ account.percentage }}%" aria-valuenow="{{ account.amount }}" aria-valuemin="0" aria-valuemax="{{ entity.totalSpend }}"></div>
					{% endfor %}
					</div>
				</td>
				<td>
				{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}			
				{% include '/Buttons/expenses-button.html' with {'modal': entity.id, 'id': entity.id} %}
				{% include '/Buttons/notes-button.html' with {'modal': entity.id, 'id': entity.id} %}				
				{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}

				{% include '/Modals/expenses.html' with {'entity': entity} %}
				{% include '/Modals/notes.html' with {'entity': entity, 'type': 'purchase'} %}				

				
				</td>
				</tr>
				
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
