.badge-primary{
	background-color:#007bff;
	background-image: var(--bs-gradient);	
	color:#fff;
}

.badge-secondary{
	background-color:#6c757d;
	background-image: var(--bs-gradient);	
	color:#fff;
}

.badge-success{
	background-color: #4caf50;
	background-image: var(--bs-gradient);
	color:#fff;
}


.badge-purchase{

	&.forsale{
		background-color:#007bff;
		color:#fff;
	}

	&.sold{
		background-color:#28a745;
		color:#fff;
	}

	&.held{
		background-color:#999;
		color:#fff;
	}

	&.requiresrepair{
		background-color:#dd4b39;
		color:#fff;
	}

	&.writtenoff{
		background-color:#666;
		color:#fff;
	}

	&.boughtout{
		background-color:#810696;
		color:#fff;
	}

}

.badge-sale{

	&.unpaid{
		background-color:#777b80;
		color:#fff;
	}
	
	&.paid{
		background-color:#007bff;
		color:#fff;
	}
	
	&.dispatched{
		background-color:#28a745; 
		color:#fff;
	}	

	&.cancelled{
		background-color:#e51c23;
		color:#fff;
	}	

}


.badge-float{
position: relative;
top: -15px;
left: 6px;
z-index: 2;
padding: 1px 7px;
margin-left: -23px;
font-size: 11px;
color: #fff;
border-radius: 10em;
}