
.dataTable{

	.btn{
		margin-left:5px;
	}
}

.btn-datatable-new{
	margin-top:20px;
	margin-bottom:40px;
	
}


.datatable-loading{
	width:100%;
	height:600px;
	text-align:center;
	font-size:30px;
	font-weight: bold;
}


table.dataTable thead th, table.dataTable thead td{
	max-width: 300px
}


.rag-orange{
	color: #d98d0b;
}

.rag-green{
	color:#28a745;
}

.rag-red{
	color:#dc3545;
}


table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100%;
}

.dataTables_wrapper .dataTables_length select {

    width: 7rem;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    color: var(--bs-table-striped-color);
    background-color: #f2f7fa;
	--bs-table-accent-bg: none;
}


table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.table tr:first-child th {
  background-color: #2196f3;
  border: 1px solid #ddd;
  padding: .35em;
  color: #fff;
}

.table tr {
  border: 1px solid #ddd;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.progress{
	height: 1rem;
}

.progress-bar{
	height: 1rem;
}


.note-table th, .note-table td{

white-space: break-spaces !important;
}

