<div class="modal" id="modal-expenses-{{entity.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">{{ entity.name }} Expenses</h5>
		<button type="button" class="close btn-modal-close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<table>
			<tr>
				<th>Account</th>
				<th>Date</th>							
				<th>Expense</th>				
				<th>Amount</th>
				<th></th>
			</tr>
			{% for expense in entity.expenses %}
			
			<tr {% if( entity.buyout != null and entity.buyout.account.id != expense.account.id ) %}class="buyout"{% endif %}>
				<td>{{ expense.account.name }}</td>
				<td>{{ expense.date | date('d/m/Y') }}</td>
				<td>{{ expense.name }}</td>				
				<td>{{ expense.proporationAmount | format_currency('GBP', {rounding_mode: 'floor'}) }} / {{ expense.amount | format_currency('GBP', {rounding_mode: 'floor'}) }}</td>
				<td>{% include '/Buttons/edit-button.html' with {'model': "expense", 'id': expense.id} %}</td>
			</tr>
			{% endfor %}
		</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>
