
<div class="modal" id="modal-notes-{{entity.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">Notes</h5> 
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>


	  </div>
	  <div class="modal-body">

		<div class="row">
<div class="col-lg col-s"> <b>User</b></div>
<div class="col-lg col-s"> <b>Date</b></div>
<div class="col-lg col-s"> <b>Note</b></div>
		</div>
			
			{% for note in entity.notes %}
			
		<div class="row">
				<div class="col-lg col-s">{{ note.user.email }}</div>
				<div class="col-lg col-s">{{ expense.date | date('d/m/Y') }}</div>
				<div class="col-lg col-s">{{ note.note }}</div>				
		</div>
		<hr class="my-4">
			
			{% endfor %}
		
		
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>



