{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}
	{% embed "forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{% if( id ) %}Editing{% else %}New{% endif %} {{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% if( account.id ) %}
			
				{% include "forms/elements/text.html" with {
					'label' : 'ID',
					'id': 'id', 
					'name': "#{controller}[id]", 
					'description': 'ID of this Account',
					'readonly': 'readonly',
					'value': account.id
				}%}
				
				<hr class="my-4">		

			{% endif %}		

			{% include "forms/elements/text.html" with {
				'label' : 'Name',
				'id': 'name', 
				'name': "#{controller}[name]", 
				'description': 'Account Name',
				'value': account.name
			}%}		

			{% include "forms/elements/text-colorpicker.html" with {
				'label' : 'Color',			
				'id': 'color', 
				'name': "#{controller}[color]", 
				'description': 'Give this account a color',
				'required': 'required',
				'value': account.color				
			}%}				
					
		{% endblock %}
	{% endembed %}
{% endblock %}
