{% extends "base.html" %}

{% block title %}Expenses{% endblock %}

{% block body %}
	{% embed "Forms/form-base.html" with {'form_id': controller} %}

		{% block form_title %}
			{% if( id ) %}Editing{% else %}New{% endif %} {{ title }}
		{% endblock %}

		{% block form_subtitle %}
			{{ description }}
		{% endblock %}
		
		{% block form_body %}

			{% if( account.id ) %}
			
				{% include "Forms/Elements/text.html" with {
					'label' : 'ID',
					'id': 'id', 
					'name': "#{controller}[id]", 
					'description': 'ID of this Account',
					'readonly': 'readonly',
					'value': account.id
				}%}
				
				<hr class="my-4">		

			{% endif %}		

			{% include "Forms/Elements/text.html" with {
				'label' : 'Name',
				'id': 'name', 
				'name': "#{controller}[name]", 
				'description': 'Account Name',
				'value': account.name
			}%}		

			{% include "Forms/Elements/text-colorpicker.html" with {
				'label' : 'Color',			
				'id': 'color', 
				'name': "#{controller}[color]", 
				'description': 'Give this account a color',
				'required': 'required',
				'value': account.color				
			}%}		

			<hr class="my-4">	
			
			{% include "Forms/Elements/header-small.html" with {
				'title' : 'Invoicing Details',
				'subtitle': 'Used for generating invoices with payment information'
			}%}				
			
			{% include "Forms/Elements/text.html" with {
				'label' : 'Business Name',
				'id': 'business_name', 
				'name': "#{controller}[business_name]", 
				'description': 'Business name to use on invoices and paperwork',
				'value': account.businessName
			}%}		

			<hr class="my-4">

			{% if( account.id ) %}
			
			{% include "Forms/Elements/image-uploader.html" with {
				'id': 'account_logo',
				'image': account.logo,
				'label': 'Company Logo',
				'description': 'Optional, used for Invoices and Packing Slips'
			}%}		

			<hr class="my-4">	
				
			{% endif %}	

			{% include "Forms/Elements/text-address.html" with {
				'label' : 'Shipping Address',			
				'id': 'shipping_address', 
				'name': "#{controller}[address]", 
				'description': 'Buyers Address',
				'line1': account.businessAddress.line1,
				'line2': account.businessAddress.line2,
				'city': account.businessAddress.city,
				'state': account.businessAddress.state,
				'postalcode': account.businessAddress.postalCode,
				'country': account.businessAddress.country,				
			}%}				
			
			<hr class="my-4">			
			
			{% include "Forms/Elements/text.html" with {
				'label' : 'Account Number',
				'id': 'account_number', 
				'name': "#{controller}[account_number]", 
				'description': 'Bank Account Number for BACs Payments',
				'value': account.accountNumber
			}%}		

			{% include "Forms/Elements/text.html" with {
				'label' : 'Account Sort Code',
				'id': 'account_sort_code', 
				'name': "#{controller}[account_sort_code]", 
				'description': 'Bank Sort Code for BACs Payments',
				'value': account.accountSortCode
			}%}	

			{% include "Forms/Elements/text.html" with {
				'label' : 'PayPal Email Address',
				'id': 'paypal_email_address', 
				'name': "#{controller}[paypal_email_address]", 
				'description': 'PayPal Email Address for PayPal Payments',
				'value': account.payPalEmailAddress
			}%}				
					
		{% endblock %}
	{% endembed %}
{% endblock %}
