{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Id","Name","Outstanding Expenses","Balance",""]	} %}
		{% block table_body %}
			{% for entity in entities %}
			<tr>
			<td data-label="Id">{{ entity.id }}</td>
			<td data-label="Name">{{ entity.name }}</td>
			<td data-label="Spend">£0.00</td>
			<td data-label="Balance">{{ entity.balance| format_currency('GBP', {rounding_mode: 'floor'})}}</td>			
			<td data-label="">
			{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}
			{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}
			</td>				
			</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
