<div style="background:#317399">
<div style="display: none; max-height: 0px; overflow: hidden;">
A Sale was made on RetroSeller for £{{amount}}
</div>
 
<!-- Insert &zwnj;&nbsp; hack after hidden preview text -->
<div style="display: none; max-height: 0px; overflow: hidden;">
&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
</div>
<!-- Insert &zwnj;&nbsp; hack after hidden preview text -->
<div style="display: none; max-height: 0px; overflow: hidden;">
&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
</div>
<!-- Insert &zwnj;&nbsp; hack after hidden preview text -->
<div style="display: none; max-height: 0px; overflow: hidden;">
&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
</div>
<!-- Insert &zwnj;&nbsp; hack after hidden preview text -->
<div style="display: none; max-height: 0px; overflow: hidden;">
&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
</div>

<div style="display: none; max-height: 0px; overflow: hidden;"><!-- Preheader message here --></div>
<!-- Hack to manage presentation of preheader text. (https://litmus.com/blog/the-little-known-preview-text-hack-you-may-want-to-use-in-every-email) -->
<table class="document" role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#E8ECF1" aria-hidden="true">
<tbody>
<tr>
<td valign="top"><!-- Main -->
<table class="container" role="presentation" border="0" width="500" cellspacing="0" cellpadding="0" align="center" aria-hidden="true">
<tbody>
<tr>
<td bgcolor="#ffffff">
<table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" aria-hidden="true">
<tbody>
<tr>
<td style="padding: 20px;">
<table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0" align="center" aria-hidden="true">
<tbody>
<tr>
<td style="padding-bottom: 15px; font-family: 'Source Sans Pro', sans-serif; font-size: 26px; line-height: 34px; color: #1b2733;">New Sale!</td>
</tr>
<tr>
<td style="padding-bottom: 15px; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 24px; color: #1b2733;">A new sale has been made via {{vendor}} and has been added to RetroSeller.</td>
</tr>
<tr>
<td style="padding-bottom: 15px; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 24px; color: #1b2733;"><strong>Sale Price</strong> &#163;{{amount}}</td>
</tr>
<tr>
<td style="padding-bottom: 15px; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 24px; color: #1b2733;"><strong>Profit</strong> &#163;{{profit}}</td>
</tr>
<tr>
<td style="padding-bottom: 15px; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 24px; color: #1b2733;"><strong>Items</strong></td>
</tr>
<tr>
<td style="padding-bottom: 15px; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 24px; color: #1b2733;">{{items}}</td>
</tr>
<tr>
<td><strong>Please Note</strong> The price may vary once additional fees and postage is added and so the final profit amount could be lower. Profit shares are only applied if your account is attached to this sale.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">
<table class="container" role="presentation" border="0" cellspacing="0" cellpadding="0" align="left" aria-hidden="true">
<tbody>
<tr>
<td style="border-radius: 3px;" bgcolor="#000000"><a class="btn" style="font-size: 18px; font-family: 'Source Sans Pro', sans-serif; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 2px; border: 1px solid #000000; display: inline-block;" href="{{link}}" target="_blank" rel="noopener">More Details</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- Footer -->
<table class="container" role="presentation" border="0" width="450" cellspacing="0" cellpadding="0" align="center" aria-hidden="true">
<tbody>
<tr>
<td style="font-family: 'Source Sans Pro', sans-serif; font-size: 11px; line-height: 16px; padding-top: 20px; color: #aaaaaa;" align="center">Email automatically sent by RetroSeller</td>
</tr>
<tr>
<td style="font-family: 'Source Sans Pro', sans-serif; font-size: 11px; line-height: 16px; padding-bottom: 20px; color: #aaaaaa;" align="center"><!-- Unsubscribe link --></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>