<nav class="navbar navbar-expand-lg navbar-dark bg-primary">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  	  <div class="nav-item nav-icon active">
		<a href="/">
			<img class="logo" src="/static/img/nav-logo.png">
		</a>
	  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
	<ul class="navbar-nav mr-auto">
	
		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
			  <i class="far fa-bell"></i>
			  <span class="badge badge-{% if( notifications | length > 0 ) %}danger{% else %}primary{% endif %} navbar-badge">{{ notifications | length }}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
			  <span class="dropdown-item dropdown-header">{{ notifications | length }} Notifications</span>
			  <div class="dropdown-divider"></div>
			  {% for notification in notifications %}
			  <a href="#" class="dropdown-item">
				<i class="fas fa-{{notification.icon}} mr-2"></i> {{ notification.title }}
			  </a>
			  <div class="dropdown-divider"></div>
			  {% endfor %}

			
			</div>
		</li>	
	

	  
{% for item in nav %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="{{item.link}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  {{item.title}}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			{% for subitem in item.subitems %}
				{% if( subitem.type == "item" ) %}
					<a class="dropdown-item" href="{{subitem.link}}">{{subitem.title}}</a>
				{% endif %}	

				{% if( subitem.type == "divider" ) %}
					<div class="dropdown-divider"></div>	
				{% endif %}				
			{% endfor %}
			</div>
		</li>
{% endfor %}	  
	  <!--
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Sales
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="/sale/new">New Sale</a>
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/sale/list?orderby=id&&order=desc">All Sales</a>
		  <div class="dropdown-divider"></div>		  
		  <a class="dropdown-item" href="/sale/list?orderby=id&order=desc&search=%22Un-Paid%22">Pending Payment</a>	
		  <a class="dropdown-item" href="/sale/list?orderby=id&order=desc&search=%22Paid%22">Awaiting Dispatch</a>			  
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/sale/list?orderby=gross_amount&&order=desc">Highiest Sold Price</a>	
		  <div class="dropdown-divider"></div>
		<a class="dropdown-item" href="/auction/selling">Active eBay Listings</a>		  
		</div>
	  </li>

	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Purchases
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="/purchase/new">New Purchase</a>	  
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/purchase/list?orderby=id&order=desc">All Purchases</a>		
		  <div class="dropdown-divider"></div>		  
		  <a class="dropdown-item" href="/purchase/list?orderby=id&order=desc&search=%22for%20sale%22">Purchases For Sale</a>
		  <a class="dropdown-item" href="/purchase/list?orderby=id&order=desc&search=%22sold%22">Purchases Sold</a>	
		  <a class="dropdown-item" href="/purchase/list?orderby=id&order=desc&search=%22held%22">Purchases Held</a>
		  <a class="dropdown-item" href="/purchase/list?orderby=id&order=desc&search=%22requires%20repair%22">Purchases Needing Repair</a>	
		  <a class="dropdown-item" href="/purchase/list?orderby=valuation&order=desc">Highiest Valued</a>


	
		  <div class="dropdown-divider"></div>
		  <a class="dropdown-item" href="/expense/new">New Purchase Expense</a>

		  <a class="dropdown-item" href="/expense/list?orderby=id&order=desc">All Purchase Expenses</a>
				  
		  
		  
		  <div class="dropdown-divider"></div>		  
		  <a class="dropdown-item" href="/purchaseCategory/list">All Purchase Categories</a>	
		  <div class="dropdown-divider"></div>	
		  <a class="dropdown-item" target="_blank" href="/stock/list">Public Stock List</a>					  
		</div>
	  </li>
	  
  
	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Financials
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">			
		  <a class="dropdown-item" href="/account/list">Accounts</a>
		  <a class="dropdown-item" href="/withdrawal/list">Withdrawals</a>	
		  <a class="dropdown-item" href="/transfer/list">Transfers</a>			  
		  <a class="dropdown-item" href="/buyout/list">Buy Outs</a>		  
		</div>
	  </li>	 

	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Reporting
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="/report/accounts/statement">Account Statements</a>
		  <a class="dropdown-item" href="/report/stock/statement">Stock Report</a>
		  <a class="dropdown-item" href="/report/sales/statement">Sale Report</a>
		  <a class="dropdown-item" href="/report/purchases/underValued">Under Valued Report</a>		  
		</div>
	  </li>		  	  
	  
	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Configuration
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		 
		  <a class="dropdown-item" href="/paymentVendor/list">Payment Vendors</a>
		  <a class="dropdown-item" href="/saleVendor/list">Sale Vendors</a>
		  <a class="dropdown-item" href="/purchaseVendor/list">Purchase Vendors</a>
		  <div class="dropdown-divider"></div>		  
		  <a class="dropdown-item" href="/user/list">User Management</a>
		  <a class="dropdown-item" href="/integration/list">eBay Integration Management</a>		  
		  <div class="dropdown-divider"></div>	
		  <a class="dropdown-item" href="/import/purchase">Import Purchases Spreadsheet</a>	
		  <a data-confirmation="This will import any new sales across all eBay Intergrations?" class="dropdown-item" href="/import/ebayImports">Import eBay Sales</a>	
		  <div class="dropdown-divider"></div>	
		  <a class="dropdown-item" href="/update">Update</a>		  
		  <a class="dropdown-item" href="/settings/edit">Settings</a>
		</div>
	  </li>	
	  
	  <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Help
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" target="_blank" href="https://github.com/louisvarley/RetroSeller/wiki">Wiki</a>			  
		</div>
	  </li>		

-->
	  
	</ul>
	
	

	<ul class="navbar-nav ms-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  {{ session.user.email }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="/user/edit/{{ session.user.id }}">Profile</a>				

			  <a class="dropdown-item" href="/logout">Logout</a>				
			</div>
		</li>	  
	</ul>

	
  </div>

	
  <div class="nav-mobile-logout">
	{% include '/Buttons/logout-button.html' %}	
  </div>
</nav>