<nav class="navbar navbar-expand-lg navbar-dark bg-primary">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  	  <div class="nav-item nav-icon active">
		<a href="/">
			<img class="logo" src="/static/img/nav-logo.png">
		</a>
	  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
	<ul class="navbar-nav mr-auto">
	
		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
			  <i class="far fa-bell"></i>
			  <span class="badge badge-{% if( notifications | length > 0 ) %}danger{% else %}primary{% endif %} navbar-badge">{{ notifications | length }}</span>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
			  <span class="dropdown-item dropdown-header">{{ notifications | length }} Notifications</span>
			  <div class="dropdown-divider"></div>
			  {% for notification in notifications %}
			  <a href="#" class="dropdown-item">
				<i class="fas fa-{{notification.icon}} mr-2"></i> {{ notification.title }}
			  </a>
			  <div class="dropdown-divider"></div>
			  {% endfor %}

			
			</div>
		</li>	
	  
	{% for item in nav %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="{{item.link}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  {{item.title}}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			{% for subitem in item.subitems %}
				{% if( subitem.type == "item" ) %}
					<a class="dropdown-item" href="{{subitem.link}}">{{subitem.title}}</a>
				{% endif %}	

				{% if( subitem.type == "divider" ) %}
					<div class="dropdown-divider"></div>	
				{% endif %}				
			{% endfor %}
			</div>
		</li>
	{% endfor %}	  

	</ul>
	
	

	<ul class="navbar-nav ms-auto">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  {{ session.user.email }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  <a class="dropdown-item" href="/user/edit/{{ session.user.id }}">Profile</a>				

			  <a class="dropdown-item" href="/logout">Logout</a>				
			</div>
		</li>	  
	</ul>

	
  </div>

	
  <div class="nav-mobile-logout">
	{% include '/Buttons/logout-button.html' %}	
  </div>
</nav>