{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Id","Date","Status","Vendors","Accounts","Gross", "Net", "Spend", "Profit", "Item/s Sold", "Options"]	} %}
		{% block table_body %}
			{% for entity in entities %}
			<tr>
			<td data-label="Id">{{ entity.id }}</td>
			<td data-label="Date">{{ entity.date | date('d/m/Y') }}</td>			
			<td data-label="Status"><span class="badge badge-sale {{ entity.status.name | lower | replace({' ': ''}) }}">{{ entity.status.name }}</span>
			
			
			{% if( entity.eBayOrderId ) %}
				<span data-tooltip="Connected to Auction" class="badge badge-secondary"><i class="fas fa-gavel"></i></span>		
			{% endif %}					
			
			</td>
			<td data-label="Vendor">
				<span style="background-color:{{entity.saleVendor.color}}" class="badge badge-vendor {{ entity.saleVendor.name | lower | replace({' ': ''}) }}">{{ entity.saleVendor.name }}</span>
				<span style="background-color:{{entity.paymentVendor.color}}" class="badge badge-vendor {{ entity.paymentVendor.name | lower | replace({' ': ''}) }}">{{ entity.paymentVendor.name }}</span>
			</td>			
			<td data-label="Accounts">
			{% for account in entity.accounts %}
			<span class="badge badge-primary badge-account" style="background-color:{{ account.color }}">{{ account.name }}</span>

			{% endfor %}		
			</td>
			<td data-label="Gross">{{ entity.grossAmount  | format_currency('GBP', {rounding_mode: 'floor'})}}</td>	
			<td data-label="Net"class="{{ entity.netAmount | rag }}">{{ entity.netAmount  | format_currency('GBP', {rounding_mode: 'floor'})}}</td>	
			<td data-label="Spend">{{ entity.getPurchaseSpendAmount  | format_currency('GBP', {rounding_mode: 'floor'})}}</td>	
			<td data-label="Profit" class="{{ entity.getProfitAmount | rag }}">{{ entity.getProfitAmount | format_currency('GBP', {rounding_mode: 'floor'})}}</td>
			<td data-label="Purchases">
				{% if( entity.purchases | length > 2 ) %}
				
					{% for purchase in entity.purchases |slice(0, 2) %}
						<a target="_blank" href="/purchase/edit/{{purchase.getId}}">{{ purchase.getName }}</a>
					{% endfor %}
					 <a class="expand-sale-purchases" data-toggle="collapse" href="#collapse-purchase-{{ entity.id }}" role="button" aria-expanded="false" aria-controls="collapse-purchase-{{ entity.id }}"><small>({{ entity.purchases | length - 2}} More)</small></a>
					<div class="sale-purchase-collapse collapse" id="collapse-purchase-{{ entity.id }}">
					  <div class="card card-body">
					   <ul>
						{% for purchase in entity.purchases |slice(2, 99) %}
								
							<li><a target="_blank" href="/purchase/edit/{{purchase.getId}}">{{ purchase.getName }}</a></li>
								
						{% endfor %}
						</ul>
					  </div>
					</div>

				{% else %}
					{% for purchase in entity.purchases %}
						<a target="_blank" href="/purchase/edit/{{purchase.getId}}">{{ purchase.getName }}</a>
					{% endfor %}
				{% endif %}

			</td>

			<td data-label="Options">
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-cogs"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-right">
			{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}
			{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}
			{% include '/Buttons/notes-button.html' with {'modal': entity.id, 'id': entity.id} %}
			{% include '/Buttons/sale-status-button.html' with {'model': controller, 'entity': entity} %}	
			{% include '/Buttons/invoice-button.html' with {'model': controller, 'id': entity.id} %}	
			
			{% if( entity.eBayOrderId ) %}
				{% include '/Buttons/ebay-order-button.html' with {'model': controller, 'order_id': entity.eBayOrderId} %}		
			{% endif %}				
			</div>
				{% include '/Modals/notes.html' with {'entity': entity, 'type': 'sale'} %}	
			</td>				
			</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
