{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block page_subtitle %}{{ description }}{% endblock %}
{% block body %}
	{% embed "Tables/table-base.html" with {'table_id': controller, 'headers': ["Id","Date","Status","Accounts","Gross", "Net", "Spend", "Profit", "Item/s Sold", ""]	} %}
		{% block table_body %}
			{% for entity in entities %}
			<tr>
			<td>{{ entity.id }}</td>
			<td>{{ entity.date | date('d/m/Y') }}</td>			
			<td><span class="badge badge-sale {{ entity.status.name | lower | replace({' ': ''}) }}">{{ entity.status.name }}</span></td>
			<td>
			{% for account in entity.accounts %}
			<span class="badge badge-primary badge-account" style="background-color:{{ account.color }}">{{ account.name }}</span>

			{% endfor %}		
			</td>
			<td>{{ entity.grossAmount  | format_currency('GBP', {rounding_mode: 'floor'})}}</td>	
			<td class="{{ entity.netAmount | rag }}">{{ entity.netAmount  | format_currency('GBP', {rounding_mode: 'floor'})}}</td>	
			<td>{{ entity.getPurchaseSpendAmount  | format_currency('GBP', {rounding_mode: 'floor'})}}</td>	
			<td class="{{ entity.getProfitAmount | rag }}">{{ entity.getProfitAmount | format_currency('GBP', {rounding_mode: 'floor'})}}</td>
			<td>{{ entity.getPurchasesString }}</td>
			<td>
			{% include '/Buttons/edit-button.html' with {'model': controller, 'id': entity.id} %}
			{% include '/Buttons/delete-button.html' with {'model': controller, 'id': entity.id} %}
			{% include '/Buttons/notes-button.html' with {'modal': entity.id, 'id': entity.id} %}	
			
			{% include '/Modals/notes.html' with {'entity': entity, 'type': 'sale'} %}	
			</td>				
			</tr>
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
