{% embed "Forms/form-element.html" with {'description': description, 'required': required, 'label': label} %}
{% block element %}
<select placeholder="Select..." autocomplete="off" {% if disabled %}disabled="disabled"{% endif %} id="{{ id }}" name="{{ name }}" type="text" {{required}} class="form-control {{classes}}">
{% if not required %}
<option value="">None</option>
{% endif %}

{% for option in options %}  
	<option {% if option.value == value %}selected{% endif %} value="{{option.value}}">{{option.text}}</option>
{% endfor %}  

</select>
{% endblock %}
{% endembed %}