

<div class="form-group row {{classes}}">
	
<label for="title" class="col-lg-4 col-form-label">{{ label }} {% if required %}*{% endif %}</label>

<div class="col-lg-8 col-s-12">
 <div class="form-group">
	<small class="form-text text-muted">
		Line 1
	</small>	
    <input value="{{line1}}" name="{{ name }}[line1]" {{ required }} autocomplete="off" {% if disabled %}disabled="disabled"{% endif %} {% if readonly %}readonly{% endif %} type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  
  <div class="form-group mt-4">
	<small class="form-text text-muted">
		Line 2
	</small>
    <input value="{{line2}}" name="{{ name }}[line2]" autocomplete="off" {% if disabled %}disabled="disabled"{% endif %} {% if readonly %}readonly{% endif %} type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6 mt-4">
	<small class="form-text text-muted">
		Town / City
	</small>
      <input value="{{city}}" name="{{ name }}[city]" {{ required }} autocomplete="off" {% if disabled %}disabled="disabled"{% endif %} {% if readonly %}readonly{% endif %} type="text" class="form-control" id="inputCity">	  
    </div>
    <div class="form-group col-md-4 mt-4">
	  <small class="form-text text-muted">
		County / State
	  </small>	
      <input value="{{state}}" name="{{ name }}[state]" {{ required }} autocomplete="off" {% if disabled %}disabled="disabled"{% endif %} {% if readonly %}readonly{% endif %} type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4 mt-4">
	  <small class="form-text text-muted">
		Postal Code
	  </small>	
      <input value="{{postalcode}}" name="{{ name }}[postalcode]" {{ required }} autocomplete="off" {% if disabled %}disabled="disabled"{% endif %} {% if readonly %}readonly{% endif %} type="text" class="form-control" id="inputZip">
    </div>
	
    <div class="form-group col-md-4 mt-4">
	  <small class="form-text text-muted">
		Country
	  </small>
		<select name="{{ name }}[country]" {{ required }} autocomplete="off" {% if disabled %}disabled="disabled"{% endif %} {% if readonly %}disabled="disabled"{% endif %} {% if readonly %}readonly="readonly"{% endif %} id="country" class="form-control {% if readonly %}readonly{% endif %}">
               
		{% for code,name in countries %}  
			<option {% if code == country %}selected{% endif %} value="{{code}}">{{name}}</option>
		{% endfor %}  
			   
		</select>	  
    </div>	
  </div>
		
</div>


	<small class="form-text text-muted">
		{{ description }}
	</small>

</div>